/* header.css */

/* Styling dasar untuk header */
header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 80px 0;
    font-family: 'Arial', sans-serif;
}

.header-title {
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.header-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #f39c12;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    cursor: pointer;
}

.header-button:hover {
    background-color: #6eb2f0; /* Warna biru muda yang lebih terang */
    color: #fff; /* Warna teks tetap putih */
}



/* Media query untuk responsif header */
@media screen and (max-width: 768px) {
    .header-title {
        font-size: 36px;
    }
    
    .header-subtitle {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .header-button {
        font-size: 16px;
        padding: 10px 20px;
    }
}
